
:root {
--main-text-color: #757575;
--title-color: #212121;
--accent-color: #2196F3;
--alt-title-color: #FFFFFF;

--darc-bg: #2F303A;
--second-bg: #F5F4FA;

--main-font: 'Roboto', sans-serif;
--logo-font: 'Raleway', sans-serif;
}

body {
font-family: var(--main-font);
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;
color: var(--main-text-color);
}

.logo {
    font-family: var(--logo-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--accent-color);
    }

.upper-logo {
    color: var(--title-color);
}

.down-logo {
    color: var(--alt-title-color);
}

.site-nav .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
}

.site-nav .link:hover {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.footer {
    background: var(--darc-bg);
}

.address {
    font-style: inherit;
    color: var(--alt-title-color);
}

.contacts-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

}

.nav-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    color: var(--title-color);
    background: #F5F4FA;
}

.nav-btn:hover {
    color: var(--alt-title-color);
    background: var(--accent-color);
}

.title {
    color: var(--title-color);   
}

.page-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
}

.title-label {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-title {
    font-size: 36px;
    line-height: 1.16;
}

.team {
    font-size: 16px;
    line-height: 1.18;
}

.team .title {
    font-size: 16px;
    line-height: 1.18;
}

.page-title-portfolio {
    display: none;
}

.name-portfolio {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.text-portfolio {
font-size: 16px;
line-height: 1.87;
}